In [72]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from dateutil.relativedelta import relativedelta
import json

# local imports
from find_sites import findSites
findsites = findSites()

import sys
sys.path.append('/Users/olivia/main/research/atmospheric_chem_ML/chem150')
from data_fetcher import DataFetcher
datafetcher = DataFetcher()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [84]:
    # def best_sites_state(self, state, byear, eyear=None, other_params=[]):

df = findsites.best_sites_state('06', 2000, other_params=['Wind Direction - Resultant'])
df

             Ozone  PM2.5 - Local Conditions  Wind Direction - Resultant
site_number
0001             1                         1                           1
0002             1                         1                           1
0003             1                         0                           1
0004             1                         1                           1
0005             1                         1                           1
0006             1                         1                           1
0007             1                         0                           1
0008             1                         0                           1
0009             1                         0                           0
0010             1                         0                           1
0011             1                         0                           1
0012             1                         0                           1
0014             1                         1                           1
0016             1                         0                           1
0020             1                         0                           0
0101             1                         0                           1
0113             1                         0                           1
0232             1                         0                           0
0242             1                         0                           1
1001             1                         1                           0
1002             1                         0                           1
1003             1                         1                           0
1004             1                         0                           1
1006             1                         1                           1
1008             1                         0                           1
1013             1                         0                           1
1014             1                         0                           1
1020             0                         0                           1
1021             1                         0                           1
1022             0                         0                           1
1025             1                         0                           1
1103             1                         1                           1
1201             1                         1                           1
1234             1                         0                           0
1701             1                         0                           1
2001             1                         0                           0
2002             1                         1                           1
2004             1                         0                           1
2005             1                         1                           1
2006             1                         0                           0
2011             1                         0                           1
2022             0                         1                           1
3001             1                         0                           1
3003             1                         0                           1
4001             1                         0                           1
4002             1                         1                           1
4003             1                         0                           1
4004             1                         0                           0
5001             1                         1                           1
5003             1                         0                           1
6001             1                         0                           1
8001             1                         1                           1
9001             1                         0                           1
9002             1                         0                           1
9004             1                         1                           1

             Ozone  PM2.5 - Local Conditions  Wind Direction - Resultant
site_number
0001             1                         1                           1
0002             1                         1                           1
0004             1                         1                           1
0005             1                         1                           1
0006             1                         1                           1
0014             1                         1                           1
1006             1                         1                           1
1103             1                         1                           1
1201             1                         1                           1
2002             1                         1                           1
2005             1                         1                           1
4002             1                         1                           1
5001             1                         1                           1
8001             1                         1                           1
9004             1                         1                           1
1001             1                         1                           0
1003             1                         1                           0
0003             1                         0                           1
0007             1                         0                           1
0008             1                         0                           1
0010             1                         0                           1
0011             1                         0                           1
0012             1                         0                           1
0016             1                         0                           1
0101             1                         0                           1
0113             1                         0                           1
0242             1                         0                           1
1002             1                         0                           1
1004             1                         0                           1
1008             1                         0                           1
1013             1                         0                           1
1014             1                         0                           1
1021             1                         0                           1
1025             1                         0                           1
1701             1                         0                           1
2004             1                         0                           1
2011             1                         0                           1
3001             1                         0                           1
3003             1                         0                           1
4001             1                         0                           1
4003             1                         0                           1
5003             1                         0                           1
6001             1                         0                           1
9001             1                         0                           1
9002             1                         0                           1
0009             1                         0                           0
0020             1                         0                           0
0232             1                         0                           0
1234             1                         0                           0
2001             1                         0                           0
2006             1                         0                           0
4004             1                         0                           0
2022             0                         1                           1
1020             0                         0                           1
1022             0                         0                           1

In [91]:
df = findsites.best_sites_state('06', 2000, other_params=['Wind Direction - Resultant'])
df

,county_code,Ozone,PM2.5 - Local Conditions,Wind Direction - Resultant
site_number,,,,
0001,073,1,1,1
0002,037,1,1,1
0004,095,1,1,1
0005,057,1,1,1
0006,099,1,1,1
0014,029,1,1,1
1006,073,1,1,1
1103,037,1,1,1
1201,037,1,1,1
2002,071,1,1,1
2005,037,1,1,1
4002,079,1,1,1
5001,065,1,1,1
8001,065,1,1,1
9004,071,1,1,1
1001,081,1,1,0
1003,025,1,1,0
0003,101,1,0,1
0007,111,1,0,1
0008,029,1,0,1
0010,017,1,0,1
0011,067,1,0,1
0012,065,1,0,1
0016,037,1,0,1
0101,027,1,0,1
0113,037,1,0,1
0242,019,1,0,1
1002,013,1,0,1
1004,111,1,0,1
1008,073,1,0,1
1013,083,1,0,1
1014,083,1,0,1
1021,083,1,0,1
1025,083,1,0,1
1701,037,1,0,1
2004,083,1,0,1
2011,083,1,0,1
3001,079,1,0,1
3003,089,1,0,1
4001,071,1,0,1
4003,025,1,0,1
5003,067,1,0,1
6001,065,1,0,1
9001,065,1,0,1
9002,071,1,0,1
0009,107,1,0,0
0020,017,1,0,0
0232,029,1,0,0
1234,071,1,0,0
2001,001,1,0,0
2006,085,1,0,0
4004,025,1,0,0
2022,059,0,1,1
1020,083,0,0,1
1022,083,0,0,1

Ok now as a test, we're going to pull from one of the sites that works!! 0001 works!

In [93]:
# THIS ONE CAUSED AN ERROR FOR THE CHECKER!!!
datafetcher.create_dataset(20000101, 20020101, site='0001', county='073', state='06')

No hourly data for PM2.5 - Local Conditions
No data for Relative Humidity
No data for Solar radiation
No data for Ultraviolet radiation
No data for Barometric pressure

,Carbon monoxide,Nitrogen dioxide (NO2),Ozone,Wind Direction - Resultant,Wind Speed - Resultant,Outdoor Temperature
2000-01-01 00:00:00,0.9,20.0,0.015,99.0,1.7,49.0
2000-01-01 01:00:00,0.7,16.0,0.016,95.0,3.5,49.0
2000-01-01 02:00:00,0.7,18.0,0.014,103.0,2.6,50.0
2000-01-01 03:00:00,NaN,NaN,NaN,81.0,1.7,50.0
2000-01-01 04:00:00,0.6,12.0,0.016,103.0,1.7,50.0
...,...,...,...,...,...,...
2002-01-01 19:00:00,1.5,34.0,0.004,12.0,0.9,55.0
2002-01-01 20:00:00,1.3,31.0,0.005,8.0,1.7,55.0
2002-01-01 21:00:00,1.1,33.0,0.004,28.0,0.0,56.0
2002-01-01 22:00:00,0.9,23.0,0.010,44.0,0.9,56.0
2002-01-01 23:00:00,1.0,24.0,0.006,13.0,2.6,55.0